<form action="/new-booking" method="post">
<label for="name">Name</label>
<input type="text" name="name">
<label for="email">Email</label>
<input type="text" name="email">
<label for="message">Message</label>
<input type="text" name="message">
<button type="submit">Submit</button>
</form>
